<%if(jobs.length === 0) {%>
<h1 class="text-danger text-center mt-5">No such Jobs Found</h1>
<%} else {%>
<div>
  <div class="container d-flex flex-wrap justify-content-around mt-5 mb-5">
    <% jobs.forEach(function(job) { %>
    <div class="card text-center m-3" style="width: 18rem">
      <div class="card-header">
        <h6 class="card-title text-warning fw-bold fs-4">
          <%= job.companyName %>
        </h6>
      </div>
      <div
        class="card-body ps-4 bg-secondary-emphasis"
        style="text-align: justify"
      >
        <h5 class="card-title"><b><%= job.postTitle %></b></h5>
        <p class="card-text">CTC:<b> <%= job.ctc %></b></p>
        <p class="card-text">Deadline:<b> <%= job.deadline %> </b></p>
        <p class="card-text">Job Location:<b> <%= job.location %> </b></p>
        <div class="d-flex flex-wrap justify-content-between">
          <% job.requirements.forEach(function(requirement) { %>
          <span class="border border-warning rounded-0 p-1">
            <%= requirement %>
          </span>
          <% }) %>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-around">
        <a href="/job/apply/<%= job.id%>" class="btn btn-warning"
          >View Details</a
        >
        <%if(resumeFlag){%>
        <a
          href="/job/apply/<%= job.id%>/<%= encodeURIComponent(user) %>"
          class="btn btn-dark"
          >Easy Apply
        </a>
        <%} else {%>
        <a
          class="btn btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#resumeUploadModal"
          href="#"
        >
          Upload Resume
        </a>
        <%}%>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%}%>
